body {
  background-color: bisque;
}

.container {
  display: flex;
  justify-content: center;
}

.containerTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: auto;
  padding: 10px;
}

.containerSlide {
  background-color: white;
  border: 2px solid black;
  min-height: 50vh;
  width: 1200px;
  margin: auto;
  padding: 25px;
}

.textStyle {
  flex-wrap: wrap;
  font-family: 'Ledger', serif;
  font-size: 20px;
}

.textContainer {
  margin-left: 50px;
  align-self: center;
}

.btnSlide {
  font-family: 'Ledger', serif;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  margin: 20px;
  background-color: antiquewhite;
  text-transform: uppercase;
}

.btnSlide:hover {
  background-color: rgb(217, 222, 247);
  transition: 2s ease-in-out;
  color: rgb(6, 6, 134);
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.picTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

.periodTitle {
  font-family: 'Ledger', serif;
  font-size: 28px;
}

.slideYear {
  font-family: 'Ledger', serif;
  font-size: 20px;
  text-transform: uppercase;
}

.composerTitle {
  font-family: 'Nixie One', cursive;
  font-size: 35px;
  margin-top: 150px;
}


.moreBtn {
    padding: 10px;
    border: none;
    background-color: bisque;
    color: rgb(6, 6, 134);
    font-size: 20px;
    font-family: 'Ledger', serif;
}

.moreBtn:hover {
  color: rgb(184, 0, 0);
  transition: 2s ease-in;
}

.btnRemove {
  font-family: 'Ledger', serif;
  font-size: 18px;
  padding: 5px;
  background-color: rgb(217, 222, 247);
  margin-bottom: 50px;
}

.btnDelete {
  font-family: 'Ledger', serif;
  font-size: 18px;
  padding: 5px;
  background-color: rgb(247, 205, 205);
  width: 300px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

